@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-200 text-scandi-chocolate antialiased font-sans;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-scandi-cream;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-scandi-stone rounded-full;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-scandi-chocolate;
  }

  .drop-shadow-soft-lg {
    filter: drop-shadow(0 10px 25px -5px rgba(93, 64, 55, 0.15));
  }
}

